body{
    background-color: white;
}

.Contact{
    text-align: center;
    font-size: 150%;
}

.AboutUs
{
    font-style: Arial;
    margin-left: 25px;
    margin-top: 25px;
    margin-bottom: 25px;
    margin-right: 25px;
}


.footer{

    position: bottom;
    padding: 2px;
    width: 100%;
    background-color: #006747;
    color: #ffffff;
    text-align: center;
    margin-top: ;
}
